@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #515151;
    --secondary-color: #9D9D9D;
    --success-color: #5FC65D;
    --warning-color: #FFF16F;
    --danger-color: #F84B4B;
    --font-primary-color: #000000;
    --font-secondary-color: #FFFFFF;
    --space-1: .7rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 1.8rem;
    --space-5: 2.2rem;
    --h1: 2.3rem;
    --h2: 2rem;
    --h3: 1.5rem;
    --h4: 1rem;
    --h5: .8rem;
    --h6: .6rem;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    padding: var(--space-1);
    border: none;
    border-radius: .5rem;
    background-color: var(--secondary-color);
    color: var(--font-secondary-color);
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.no-bg {
    background: unset;
    border: unset;
    box-shadow: unset;
}

.p-1 {
    padding: var(--space-1);
}

.p-2 {
    padding: var(--space-2);
}

.p-3 {
    padding: var(--space-3);
}

.p-4 {
    padding: var(--space-4);
}

.p-5 {
    padding: var(--space-5);
}

.px-1 {
    padding-left: var(--space-1);
    padding-right: var(--space-1);
}

.px-2 {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
}

.px-3 {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.px-4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}

.px-5 {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
}




.m-1 {
    margin: var(--space-1);
}

.m-2 {
    margin: var(--space-2);
}

.m-3 {
    margin: var(--space-3);
}

.m-4 {
    margin: var(--space-4);
}

.m-5 {
    margin: var(--space-5);
}

.mt-1 {
    margin-top: var(--space-1);
}

.mt-2 {
    margin-top: var(--space-2);
}

.mt-3 {
    margin-top: var(--space-3);
}

.mt-4 {
    margin-top: var(--space-4);
}

.mt-5 {
    margin-top: var(--space-5);
}